.detail__header {
  background: #FBFAF8;
}

.detail__title {
  padding: 1em;
  height: 20em;
}

.display__price {
  position: absolute;
  bottom: 10px;
}

.detail__header__cover {
  object-fit: cover;
  width: 100%;
  height: 20em;
}

.detail__ticket {
  background: #fff;
  height: 4em;
  border-bottom: 1px solid #E5E4E2;
}

.detail__ticket button {
  margin: 0.50em;
  float: right;
}

.detail__info {
  background: #fff;
}

.detail__info > div {
  padding: 2em;
  box-sizing: border-box;
}