<div nz-row class="detail__header">
	<div nz-col nzSpan="16">
		<img class="detail__header__cover" alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
  </div>
		<div nz-col nzSpan="8'">
			{{ event.title }}
			<br />
        {{ event.price | currency }}
  </div>
		</div>

		<div nz-row class="detail__ticket">
			<div nz-col nzSpan="24">
				<button nz-button nz-dropdown [nzDropdownMenu]="ticketDropdown">
        Choose # of Tickets
          <i nz-icon nzType="down"></i>
        </button>
        <!-- only show this if event allows for more than one ticket -->
				<nz-dropdown-menu #ticketDropdown="nzDropdownMenu">
					<ul nz-menu>
            <li nz-menu-item *ngFor="let quantity of [1,2,3]">{{ 1 * quantity }} ticket(s): {{ event.price * quantity | currency }}</li>
					</ul>
				</nz-dropdown-menu>
				<button nz-button nzType="primary" [nzSize]="size">Purchase Tickets</button>
			</div>
		</div>

		<div nz-row class="detail__info">
			<div nz-col nzSpan="16">
				{{ event.description }}
			</div>
			<div nz-col nzSpan="8">
				{{ event.location }}
			</div>
		</div>