.checkout__sidebar {  
  height: auto;
  background: #FBFAF8;
}

.image-placeholder {
  width: 100%;
  height: 20em;
  background: #ebebeb;
}

.checkout__info {
  padding: 1em;
  box-sizing: border-box;
}

.pull__right {
  float: right;
}