<div>
	<h1> Sign in </h1>
	<p>Hi John, please enter your password to sign in. </p>
  
	<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    
		<nz-form-item>
			<nz-form-control nzErrorTip="Please input your Password!">
					<input formControlName="password" nz-input type="password" placeholder="Password" />
			</nz-form-control>
		</nz-form-item>
		<nz-form-item>
			<nz-form-control>
				<button nz-button nzType="primary">Log in</button>
        <!-- <button nz-button nzType="primary" [disabled]="!validateForm.valid">Log in</button> -->
			</nz-form-control>
		</nz-form-item>
	</form>
</div>

<div>
  <strong>User:<strong> {{ user.username }}
    <br />
  <strong>Email:</strong> {{ user.email }}
  <br />
  <strong>Saved events:</strong> {{ user.savedEvents }}